<template>
    <div class="box">
        <form @submit.prevent="handleSubmit">
            <label for="title">Title</label>
            <input name="activity[title]" id="title" type="text">
            <label for="description">Description</label>
            <input name="activity[description]" id="description" type="text">
            <label for="original_activity_log_file">GPX file</label>
            <input name="activity[original_activity_log_file]" id="original_activity_log_file" type="file">
            <select name="activity[privacy]">
                <option value="public_activity">public</option>
                <option value="private_activity">private</option>
            </select>
            <select name="activity[activity_type]">
                <option value="cycling">Cycling</option>
                <option value="running">Running</option>
                <option value="ebike">Ebike</option>
                <option value="inline_skates">Inline Skates</option>
                <option value="skateboarding">Skateboarding</option>
                <option value="other">Other</option>
            </select>
            <input type="submit" value="Submit">

        </form>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        methods: {
            handleSubmit(event) {
                let formData = new FormData(event.target);
                axios.post(process.env.VUE_APP_API_BASE + 'activity', formData).then(
                    function (response) {
                        window.location.replace(response.data.activity.id)
                    }
                )
            }
        }
    }
</script>