<template>
    <div class="profile">
        <div v-if="user.user" class="box">
            <h1> {{user['user']['name']}} </h1> <sub>(@{{user['user']['username']}}) </sub>

            <p>{{user['user']['description']}}</p>
        </div>
    </div>

</template>

<script>
    let user = {}

    export default {
        data() {
            return {
                user
            }
        },
        methods: {},
        created: function () {
            this.$store.dispatch('show_profile').then(user => {
                this.user = user.data
            }, response => {
                this.$notify({
                    group: 'error',
                    title: 'Error',
                    duration: -1,
                    text: response.response.data.status + " " + response.response.data.error
                });
            })
        }
    }

</script>
