<template>
    <div class="split">
        <div>
            <a :href="'/activity/' + activity['activity']['id']"><h2>{{activity['activity']['title']}}</h2></a>
            <div>
                <p>Start time: {{activity['activity']['start_time']}}</p>
                <p>End Time: {{activity['activity']['end_time']}}</p>
                <p>Distance: {{activity['activity']['distance']}}</p>
                <p>Elevation: {{activity['activity']['elevation']}}</p>
            </div>
        </div>
        <div :id="'map' + activity['activity']['id']" class="map"></div>
    </div>
</template>

<script>
    import L from 'leaflet'
    import omnivore from '@mapbox/leaflet-omnivore'

    export default {
        props: {
            activity: {
                type: Object,
                required: true
            }
        },
        mounted: function () {
            var activitymap = L.map('map' + this.activity['activity']['id']).setView([51.505, -0.09], 13)
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: '<a href="https://www.openstreetmap.org/">OpenStreetMap</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: process.env.VUE_APP_MAPBOX_KEY
            }).addTo(activitymap)

            var gpxGroup = new L.FeatureGroup();

            activitymap.addLayer(gpxGroup);

            omnivore.gpx(this.activity['activity']['activity_log_url']).addTo(gpxGroup).on('ready',
                function () {
                    activitymap.fitBounds(gpxGroup.getBounds());
                }
            )
        }
    }
</script>

<style>
    .map {
        height: 300px;
        margin: -20px 0 -20px 0;
    }
    .split {
        margin-right: -20px;
    }

    /*Fixes border side bug*/
    .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
        border: none !important;
    }
</style>
