$brand-primary: #5cc89a

html
    background-color: #ebebeb

body
    margin: 0

header
    width: 100%
    height: 50px
    background-color: $brand-primary
    display: flex
    a
        color: #fff
        text-decoration: none
        font-family: Sans-Serif
        height: 50px
        margin: 0 10px
        line-height: 50px

h1
    margin-top: 0

#app
    display: flex
    align-items: center
    flex-direction: column

.content
    max-width: 1000px
    width: 80%

.box
    background-color: #fff
    margin: 20px 0
    padding: 20px

.split
    display: flex
    div
        width: 50%

.button-container
    margin: 10px -10px
.button
    background-color: #eee
    padding: 5px 20px
    margin: 0 10px
    border-radius: 3px
    text-decoration: none
    color: #000
.button:hover
    cursor: pointer

.login-form
    background-color: #fff
    width: 90%
    max-width: 500px
    padding: 20px 40px
    margin: 20px auto
    *
        margin: 5px 0
    label
        width: 20px

    input
        width: calc(100% - 16px) // Remove border width
    input[type=submit]
        width: 100%
        color: #fff
        background-color: $brand-primary
        border: none
        border-radius: 3px
        padding: 10px 0

.vue-notification
    padding: 10px
    margin: 0 5px 5px
    font-size: 12px
    color: #ffffff
    background: #44A4FC
    border-left: 5px solid #187FE7

    &.warn 
        background: #ffb648
        border-left-color: #f48a06

    &.error 
        background: #E54D42
        border-left-color: #B82E24

    &.success 
        background: #68CD86
        border-left-color: #42A85F
