<template>
    <div id="app">
        <header>
            <a href="/">PikaTrack</a>
            <a v-if="uid" href="/activity/new">Upload an activity</a>

            <div class="right-nav"></div>
            <a v-if="uid" href="/profile">{{uid}}</a>
            <a v-if="!uid" href="/login">Login</a>
            <a v-if="!uid" href="/signup">Sign up</a>
            <a href="/contact">Report issue</a>
        </header>
        <div class="content">
            <router-view/>
        </div>
        <notifications group="error"/>
    </div>
</template>

<script>
    export default {
        name: 'App',
        data() {
            return {uid: localStorage.getItem('uid')}
        },

    }
</script>

<style>
    .right-nav {
        margin-left: auto
    }
</style>